body{
    background-color: #1C1C1C;
    margin: auto;
    text-align: center;
}

h1{
    color: white;
    margin-top: 60px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

img{
    max-width: 300px;
    border: 5px solid white;
    border-radius: 100%;
    margin-top: 100px;
}

label{
    color: white;
}

input{
    border: 3px solid black;
    border-radius: 5px;
}

input:focus{
    background-color:#4F4F4F;
}

.login{
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

.cadastro{
    color:white;
    text-decoration: none;
    margin-left: 50px;
}